*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: rgb(211, 211, 211);
  font-family: sans-serif;
}

body {background-color: gray ;}
h2 {color: rgb(0, 0, 0);}
h3 {color: rgb(0, 0, 0);}

.zentrieren{
display: block;
margin-left: auto;
margin-right: auto;
}

.text-zentrieren{
    text-align: center;
    }

@keyframes farbwechsel {
    0% {background-color: rgb(255, 0, 0);}
    50% {background-color: rgb(0, 241, 249);}
    100% {background-color: rgb(255, 0, 0);}
}
/* Diesen Farbwechsel habe ich für meinen Hintergrund verwendet, um von Hintergrund zu Blatt Papier unterscheiden zu können */

    body {
        animation-name: farbwechsel;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    main {
      background-color: rgb(255, 255, 255);
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      margin-top: 5%;
    }
/* hier habe ich eine Box erstellt, mit der ich wie ein Blatt Papier darstellen möchte */
    
@keyframes farbwechsel-h1 {
      0% {color:blue; border-color: blueviolet;}
      25% {color: cyan; border-color: greenyellow ;}
      50% {color: blueviolet; border-color: darkcyan ;}
      175% {color: brown; border-color: olive ;}
      100% {color: blue; border-color: blueviolet ;}
    }
/* ich habe hier einen Farbwechsel erstellt, den ich für relativ vieles auf meiner Seite verwende */

    h1 {
      animation-name: farbwechsel-h1;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      border-bottom: 2pt solid;
      width: fit-content;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

h2 {
      border: 2pt dashed black;
      width: fit-content;
      padding-top: 3pt ;
      padding-left: 6pt;
      padding-right: 6pt;
      padding-bottom: 3pt;
      animation-name: farbwechsel-h1;
      animation-duration: 6s;
      animation-iteration-count: infinite;
    }
    main {
/* Ich habe dem Titel und meinen Untertiteln eine Umrandung hinzugefügt, welche auch einen Farbwechsel besitzt */

    padding: 10pt;
    }

    a:link {
      border-bottom: 3px solid;
      animation-name: farbwechsel-h1;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      text-decoration: none;
      border-radius: 0%;
    }
  /* Ich habe zuvor meine Links eingefügt, doch mir ist dann aufgefallen, dass diese keinen Farbwechsel mehr haben,
  also habe ich ihnen den Farbwechsel wieder gegeben, jedoch den Links unterstrichen, sodass man als Leser checkt,
  dass darunter ein Link ist */

    div {
      line-height: 25px;
      font-size: 20px;
      font-family: 'Times New Roman';
    }
/* ich hab hier den Text angepasst, da er auf mich eher langweilig wirkte */
